@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --retro-blue: #000095;
  --retro-link: #1d1895;
}

@font-face {
  font-family: "Monotone";
  src: url("../public/assets/fonts/Monotone.ttf");
}
@font-face {
  font-family: "Orbitronio";
  src: url("../public/assets/fonts/Orbitronio.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../public/assets/fonts/Pacifico.ttf");
}
@font-face {
  font-family: "PressStart";
  src: url("../public/assets/fonts/PressStart2P.ttf");
}
@font-face {
  font-family: "VCR";
  src: url("../public/assets/fonts/VCR_OSD_MONO_1.001.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Monotone";
}

.text-monotone {
  font-family: "Monotone";
}

.text-orbitronio {
  font-family: "Orbitronio";
}

.text-pacifico {
  font-family: "Pacifico";
}

.text-press {
  font-family: "PressStart";
}

.text-vcr {
  font-family: "VCR";
}

.text-retro-blue {
  color: var(--retro-blue);
}

.shadow-button {
  box-shadow: inset;
}

a {
  color: var(--retro-link);
}
