@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --retro-blue: #000095;
  --retro-link: #1d1895;
}

@font-face {
  font-family: "Monotone";
  src: url("/assets/fonts/Monotone.ttf");
}
@font-face {
  font-family: "Orbitronio";
  src: url("/assets/fonts/Orbitronio.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("/assets/fonts/Pacifico.ttf");
}
@font-face {
  font-family: "PressStart";
  src: url("/assets/fonts/PressStart2P.ttf");
}
@font-face {
  font-family: "VCR";
  src: url("/assets/fonts/VCR_OSD_MONO_1.001.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Monotone";
  border-color: black;
}

.text-monotone {
  font-family: "Monotone";
}

.text-orbitronio {
  font-family: "Orbitronio";
}

.text-pacifico {
  font-family: "Pacifico";
}

.text-press {
  font-family: "PressStart";
}

.text-vcr {
  font-family: "VCR";
}

.text-retro-blue {
  color: var(--retro-blue);
}

.text-retro-link {
  color: var(--retro-blue);
}

.shadow-button {
  box-shadow: inset;
}

/* Css loaders */

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #000095) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
